.main_container{
	background-color: blue;
	width: 100%;
	padding: 10px;
}


.maintitle{
	color: white;
	font-style: normal;
	font-size: 40;
	}

.subline{
	font-style: italic;
	font-size: 20;
	margin-top: 20;	
}

#lang1{
	color: red
}

#lang2{
	color: blue
}

#lang3{
	color: orange
}